<header>
    <nav>
        <a href="/" class="logo">
            <h1>Book Lab</h1>
        </a>
        <ul class="menu">
            <a href="/authors"><li>Authors</li></a>
            <a href="/authors/new"><li>Add Author</li></a>
            <a href="/books"><li>Books</li></a>
            <a href="/books/new"><li>Add Books</li></a>
        </ul>
    </nav>
</header>