<div class="recent">
    <h1>Recent Books</h1>
    <div class="books-container">

        <div class="book">
            <a href=""><img src="img/1.jpg" alt=""></a>
        </div>

        <div class="book">
            <a href=""><img src="img/2.jpg" alt=""></a>
        </div>

        <div class="book">
            <a href=""><img src="img/3.png" alt=""></a>
        </div>

        <div class="book">
            <a href=""><img src="img/4.jpg" alt=""></a>
        </div>
        
    </div>
</div>